<% plazo = 1 %>
<div class="container">
    <div style="height: 50px;">
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="card border-primary mb-3" style="min-height: 500px;">
          <h4 class="card-header text-white bg-primary mb-3"> Ver Progreso </h4>
          
          <div class="card-body" align="left">

            <table class="table">
              <tr>
                <th>
                  Categoría
                </th>
            
                <th>
                  Puntaje
                </th>
            
                <th>
                  Mejora últimos <%= plazo %> días
                </th>
            
                <th>
                </th>
              </tr>
            
              <% @nivel.puntajes.each do |puntaje| %>
              <tr>
                <td>
                  <%= Categorium.find(puntaje.categoria_id).descripcion %>
                </td>
            
                <td>
                  <div> 
                      <% tot = 1000 %>
                      <% cont = puntaje.score %>
                      <% now = 100 * cont/tot %>
                      <% sty = "width:" + now.round(2).to_s + "%"  %>
                      <% nivel="" %>
                      <% if cont >=800 %>
                      <%     nivel = ["Muy Alto", "primary"] %>
                      <% elsif cont >=600 %>
                      <%     nivel = ["Alto", "success"] %>
                      <% elsif cont >=400 %>
                      <%     nivel = ["Medio", "info"] %>
                      <% elsif cont >=200 %>
                      <%     nivel = ["Bajo", "warning"] %>
                      <% else %>
                      <%     nivel = ["Muy Bajo", "danger"] %>
                      <% end %>
                    
                      <div class="progress">
                          <div class="progress-bar bg-<%= nivel[1] %>" role="progressbar" style="<%= sty %>;" aria-valuenow =<%= now %>  aria-valuemin=0 aria-valuemax="<%= tot %>"> 
                            <%= cont %> 
                          </div>
                      </div>
                    </div> 
                  
                  
                </td>
                
                <td>
                  <!--- Revisa el nivel vigente al empezar el plazo estipulado (variable "plazo" definida en linea 1 de este codigo) y compara con nivel actual --->
                  <% if Nivel.ultimo_nivel(current_user.id, plazo) == nil %>
                    <% p_inicial = 0 %>
                  <% else %>
                    <% p_inicial = Nivel.ultimo_nivel(current_user, plazo).puntajes.where(categoria_id: puntaje.categoria_id).last.score %>
                  <% end %>
                  
                  <% if Nivel.ultimo_nivel(current_user.id, 0) == nil %>
                    <% p_actual = 0 %>
                  <% else %>
                    <% p_actual = current_user.nivels.last.puntajes.where(categoria_id: puntaje.categoria_id).last.score %>
                    <%= p_actual - p_inicial %>
                  <% end %>
            
                </td>
            
                <td>
                  <a href="/nivels_prof/<%= current_user.id %>">
                    Ver evolución
                  </a>
                </td>
              </tr>
              <% end %>
            </table>

          </div>
        </div>
      </div>
    </div>
</div>