<h1>
  All tributos
</h1>

<a href="/tributos/new">
  Add a new tributo
</a>

<hr>

<table class="table">
  <tr>
    <th>
      ID
    </th>

    <th>
      Contenido name
    </th>

    <th>
      Contenido
    </th>

    <th>
      Indicador name
    </th>

    <th>
      Indicador
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @tributos.each do |tributo| %>
  <tr>
    <td>
      <%= tributo.id %>
    </td>

    <td>
      <%= tributo.contenido_name %>
    </td>

    <td>
      <%= tributo.contenido_id %>
    </td>

    <td>
      <%= tributo.indicador_name %>
    </td>

    <td>
      <%= tributo.indicador_id %>
    </td>

    <td>
      <%= time_ago_in_words(tributo.created_at) %> ago
    </td>

    <td>
      <%= time_ago_in_words(tributo.updated_at) %> ago
    </td>

    <td>
      <a href="/tributos/<%= tributo.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
