
<div class="container">
    <div style="height: 50px;">
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="card border-secondary mb-3" style="min-height: 500px;">
          <h4 class="card-header text-white bg-secondary mb-3"> <i class="fa fa-chart-line fa-1x"></i> Ejercicio <%= @ejercicio.id %> </h4>
          
          <div class="card-body" align="left">

            <!--- presentacion de enunciado (y opciones) --->
            <h4> Enunciado </h4>
            <h6><%= @ejercicio.pregunta %> </h6>
            
            <div style="height: 20px;"> </div>
            
            <% if @ejercicio.opcion1 != "" %>
              <p> <%= @ejercicio.opcion1 %>  </p>
            <% end %>
            
            <% if @ejercicio.opcion2 != "" %>
              <p> <%= @ejercicio.opcion2 %>  </p>
            <% end %>
            
            <% if @ejercicio.opcion3 != "" %>
              <p> <%= @ejercicio.opcion3 %>  </p>
            <% end %>
            
            <% if @ejercicio.opcion4 != "" %>
              <p> <%= @ejercicio.opcion4 %>  </p>
            <% end %>
            
            <% if @ejercicio.opcion5 != "" %>
              <p> <%= @ejercicio.opcion5 %>  </p>
            <% end %>
            
            <div style="height: 25px;">
            </div>
            
            <hr class="my-4">
            
            <!--- Respuestas --->
            <h4> Respuestas </h4>
            <h6> Correcta: </h6>
            <p> <%= @answer.right_answer %> </p>
            <h6> Distractores </h6>
            <ul>
                <li> <%= @answer.wrong_1 %> </li>
                <li> <%= @answer.wrong_2 %> </li>
                <li> <%= @answer.wrong_3 %> </li>
                <li> <%= @answer.wrong_4 %> </li>
            </ul>
            
            
            
            <hr class="my-4">
                
            <a href="javascript:history.back()" class="btn btn-warning btn-block" > Volver </a>
            
          </div>
        </div>
      </div>
    </div>
</div>